chat widget json file
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1728,
        304
      ],
      "id": "ffa52441-94dc-463c-93b3-c938b1e606f1",
      "name": "Upload your file here",
      "webhookId": "47f6a52d-572c-40b1-8e7f-3ad2f7a57a2c"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1520,
        512
      ],
      "id": "b94e6fb2-0329-4bdd-beeb-7d4ac0fa7438",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -1552,
        320
      ],
      "id": "5a8997a4-62c7-4358-87e2-cd4a7af1ee39",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "useReranker": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -416,
        352
      ],
      "id": "0a3383fe-761b-4764-a468-e3161f99cdc3",
      "name": "Query Data Tool"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "authentication": "basicAuth",
        "options": {
          "allowedOrigins": "*",
          "loadPreviousSession": "memory",
          "responseMode": "responseNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1696,
        -64
      ],
      "id": "120aadbe-bb99-4a0a-a2a4-7aa1a89d6d35",
      "name": "When chat message received",
      "webhookId": "4091fa09-fb9a-4039-9411-7104d213f601",
      "credentials": {
        "httpBasicAuth": {
          "id": "1J4EIda1HwmPT1sv",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -608,
        576
      ],
      "id": "5a36e289-4969-4108-8630-4ab1db1914af",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "F0tf74C25IXCsnuD",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -288,
        112
      ],
      "id": "85a267cc-7463-473a-8572-8ddcf502ac21",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        -304,
        576
      ],
      "id": "752bd27f-97df-47d9-ba91-1f840745dff2",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "F0tf74C25IXCsnuD",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "customcx_hotel",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "memory",
              "fieldValue": "={{ $fromAI (\"memory\", \"store new memory based on user's input and be specific as you can\") }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $fromAI (\"email\", \"If the user input/response is their email, you save it here\") }}"
            },
            {
              "fieldId": "Name",
              "fieldValue": "={{ $fromAI (\"name\", \"If the user input/response is their name, you save it here\") }}"
            },
            {
              "fieldId": "sessionID",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        224,
        144
      ],
      "id": "54449385-e56e-44ea-a74c-99fa7f9336de",
      "name": "store-memory",
      "credentials": {
        "supabaseApi": {
          "id": "z7KBe4K92x6Zl2nq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "customcx_hotel",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        112,
        192
      ],
      "id": "fea9b7e1-a394-4b63-942b-7e423537d3a5",
      "name": "Get-memory",
      "credentials": {
        "supabaseApi": {
          "id": "z7KBe4K92x6Zl2nq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b40f553-15a0-459d-9594-096a5d3cced7",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1232,
        -64
      ],
      "id": "605bf4d8-f4b0-40b1-8396-21559305d419",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"output\": \"please provide your email and name\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -992,
        160
      ],
      "id": "62bd6774-e831-4674-be85-11d30d858436",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        32,
        -64
      ],
      "id": "6f97629a-4f12-461d-81d9-0ddf542b3e3d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7477f13-656d-4e5c-a0ad-86d200ca96c8",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        -80
      ],
      "id": "953f12dc-358c-4653-a569-ef5598723e5c",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -1568,
        128
      ],
      "id": "5ce2ab6d-3ab8-46bb-a1a4-b18a41e1d5c5",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Betty, a warm and professional Restaurant Reservation Agent for CustomCX Hotel. You are a real hospitality professional, not a generic AI assistant.\n\nYou handle: table reservations, menu enquiries, swimming pool bookings, FAQs, and general assistance. You cannot process refunds. If something will take a moment, let the customer know.\n\n---\nMENU\n\nMeals:\n- Chapati and beans — KES 250\n- Beef (nyama) and ugali — KES 750\n- Mixed tea and cake — KES 300\n\nPlatters:\n- Chicken Platter: chicken, soup, salad, rice/pilau, chapati, 4 sausages — KES 3,500\n- Beef Platter: beef, soup, ugali, vegetables, rice/pilau, fries, 3 juices — KES 4,500\n\nSwimming:\n- Adults — KES 500\n- Children — KES 300\n- Swimsuit hire — from KES 300\n\n---\nCONTACT & LINKS\n\nPhone: +254 768 322 488\nEmail: info@customcx.com\nWebsite: https://customcx.com/\n\nFor detailed questions you cannot answer confidently, direct customers to the website or contact details above.\n\n---\nHOW TO BEHAVE\n\n- Greet customers warmly by name once they introduce themselves.\n- Keep responses concise and friendly — this is a chat, not an essay.\n- For reservations, collect: name, date, time, number of guests, and any special requests.\n- For swimming, collect: number of adults and children, preferred date and time.\n- If a customer asks for the full menu or detailed information, let them know you can share it and ask for their email address.\n- Always confirm back what you have understood before finalising a booking.\n- Never make up prices, availability, or information not listed above.\n- If you do not know the answer, say so honestly and provide the contact details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -336,
        -80
      ],
      "id": "e2f5f9fc-16c8-4a44-921b-0576a036c95f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -416,
        96
      ],
      "id": "eac95242-b6de-4ae4-88f4-90cee58e3385",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "MbUBawBZZYMWCyhK",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1WboEWV7BH8Kykwdh_z1Z8ftO-j9Zjlir/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        -128,
        240
      ],
      "id": "dcf3658e-b40b-42ad-98a3-5a79a7ed6855",
      "name": "Download Menu"
    },
    {
      "parameters": {
        "fromEmail": "info@customcx.com",
        "toEmail": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailFormat": "text",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "options": {
          "appendAttribution": false,
          "attachments": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attachments', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.emailSendTool",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "id": "17875f78-0898-4672-a409-20d7deca5978",
      "name": "Send-email",
      "webhookId": "18949e7d-3ad6-4845-8ba1-b6a95b32c7a0"
    }
  ],
  "connections": {
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Query Data Tool",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "store-memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get-memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download Menu": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send-email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2237b247c0f0a893dbf1e2b3c8ff535f65ebe28b64e5105d821d35b15519368b"
  }
}